body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

.content {
    display: flex;
    height: 74vh;
    flex-wrap: wrap;
}

section {
    order: 2;
    background-color: rgb(140, 198, 63);
    font-size: 2em;
    flex-grow: 2;
    padding: 5px;
}

.aside-b {
    order: 1;
    background-color: rgb(11,148,68);
    font-size: 2em;
    flex-grow: 1;
    padding: 5px;
}

.aside-c {
    order: 3;
    background-color: #f5ee31;
    font-size: 2em;
    flex-grow: 1;
    padding: 5px;
}

header {
    background-color: #d1d2d4;
    font-size: 2em;
    padding-left: 5px;
    height: 10vh;
}

footer {
    background-color: #d1d2d4;
    font-size: 2em;
    padding-left: 5px;
    height: 10vh;
}

@media only screen and (max-width: 768px) {

    section {
        order:1;
        flex-basis: 100vw;
    }

    .aside-b {
        order: 2;
    }

    .aside-c {
        order: 3;
    }
}

@media only screen and (max-width: 480px) {

    section {
        order:1;
        height: 37vh;
        flex-grow: 1;
    }

    .aside-b {
        order: 2;
        height: 18.5vh;
    }

    .aside-c {
        order: 3;
        height: 18.5vh;
    }

    .content {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
}