body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.content {
    display: flex;
}

header {
    background-color: rgb(209, 210, 212);
    font-size: 2em;
    padding: 5px;
    height: 6vh;
}

footer {
    background-color: rgb(209, 210, 212);
    font-size: 2em;
    padding-left: 5px;
    height: 6vh;
}

footer .d-footer {
    display: inline-block;
}

footer .mt-footer {
    display: none;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 86vh;
    flex-basis: 75vw;
}

.content-a {
    background-color: rgb(239, 64, 54);
    height: 41vh;
    font-size: 2em;
}

.content-b {
    background-color: rgb(252, 176, 64);
    height: 41vh;
    font-size: 2em;
}

aside {
    background-color: rgb(245, 238, 49);
    height: 82vh;
    align-self: center;
    font-size: 2em;
    flex-basis: 25vw;
}

.text {
    padding: 5px;
}

/* Media Queries */

@media only screen and (max-width: 768px) {

    footer .d-footer {
        display: none;
    }

    footer .mt-footer {
        display: inline-block;
    }

    section,
    aside {
        flex-basis: 50vw;
    }

}

@media only screen and (max-width: 480px) {

    footer .d-footer {
        display: none;
    }

    footer .mt-footer {
        display: inline-block;
    }

    section {
        flex-basis: 100vw;
        height: 56vh;
    }

    aside {
        flex-basis: 100vw;
        height: 28vh;
    }

    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}